<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">主菜单</li>
			<li class="treeview active">
				<a href="javascript:void(0);">
					<i class="glyphicon fa fa-dashboard"></i>
					<span>我的控制台</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>					
				</a>		
				<ul class="treeview-menu">
					<li class="active">
						<a href="javascript:void(0);"><i class="fa fa-circle-o"></i> 1： Dashboard v1</a>
					</li>
					<li>
						<a href="javascript:void(0);"><i class="fa fa-circle-o"></i> 2： Dashboard v2</a>
					</li>
				</ul>		
			</li>
			<li class="treeview">
				<a href="javascript:void(0);">
					<i class="glyphicon fa fa-dashboard"></i>
					<span>我的控制台</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>					
				</a>				
			</li>
			<li class="treeview">
				<a href="javascript:void(0);">
					<i class="glyphicon fa fa-dashboard"></i>
					<span>我的控制台</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>					
				</a>				
			</li>
			<li class="treeview">
				<a href="javascript:void(0);">
					<i class="glyphicon fa fa-dashboard"></i>
					<span>我的控制台</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>					
				</a>				
			</li>
		</ul>
    </section>
    <!-- /.sidebar -->
</aside>